div(id="about-us" class="container h-auto my-5 text-white")
    div(class="row w-100 h-100 justify-content-center align-items-center mx-auto")
        div(class="col-6 d-flex justify-content-center align-items-center my-5")
            img(id="about-icon" src="../../../../static/img/lorenzobunaj-logo.png")
    
    div(
      style="margin: 2vh 0;"
      class="container-fluid d-flex justify-content-center"
    ) 
      div(
        class="row justify-content-center align-items-center w-100 text-white title"
      ) 
        div(
          class="col-10 text-center"
        ) Hi, I'm Lorenzo!
            
    div(class="row w-100 h-100 justify-content-center align-items-center mx-auto")
        div(class="col-9 mt-5")
            p(class="text-center").
                I have a background in mathematics, computer science and computer programming. My experience includes frameworks, libraries and other technologies concerning different branches of these disciplines. I consider myself a person who gets passionate easily and works hard to get his projects and tasks done. 
            p(class="text-center").
                I believe that a tool like an URL shortener, because of not being complicated to use and not having a specific target-user, is something that may result extremely useful in case you need to share links that are also elegant and easy to remember.
                For this reason I decided, together with my old team, to create one, and also make it open source, free and intuitive for all those people who immediately need a link to share and show
            br
            div(class="mb-5")
                p(class="text-center") Follow Me:
                div(class="w-100 d-flex justify-content-center")
                    a(
                        href="https://lorenzobunaj.it"
                        class="mx-3 fs-2 d-flex justify-content-center text-white text-decoration-none"
                    )
                        i(class="fa-solid fa-globe")
                    a(
                        href="https://github.com/lorenzobunaj"
                        class="mx-3 fs-2 d-flex justify-content-center text-white text-decoration-none"
                    )
                        i(class="fab fa-github")