// info fields (width > 576px)
div(
    id="info-sm" 
    class="container text-white h-auto"
)
    div(class="row justify-content-around")
        // icons and text sections
        div(class="col-lg-3 col-md-5 col-sm-8 row justify-content-center mb-5")
            div(class="mb-2 d-flex justify-content-center h-50")
                img(
                  style="width: 150px;height: 150px;"
                  src="../static/img/link-icon.png" class="icon"
                )
            div(class="row h-auto align-items-start text-center icon-text")
                h2 No Limits
                p Opt for Shouft's auto-links or input your choices for a personalized link.

        div(class="col-lg-3 col-md-5 col-sm-8 row justify-content-center mb-5")
            div(class="mb-2 d-flex justify-content-center h-50")
                img(
                  style="width: 150px;height: 150px;"
                  src="../static/img/security-icon.png" class="icon"
                )
            div(class="row h-auto align-items-start text-center icon-text")
                h2 Security
                p Press SHORT to encrypt your URL, rendering it inaccessible to anyone but you.
                    
        div(class="col-lg-3 col-md-5 col-sm-8 row justify-content-center mb-5")
            div(class="mb-2 d-flex justify-content-center h-50")
                img(
                  style="width: 150px;height: 150px;"
                  src="../static/img/speed-icon.png" class="icon"
                )
            div(class="row h-auto align-items-start text-center icon-text")
                h2 Efficiency
                p Elevate productivity with highly optimized web services for time-saving solutions.
                    
// info fields (width < 576px)
div(id="info-xs" class="h-auto")
    // icons and text sections
    div(class="container d-flex justify-content-center mb-5 text-white")
        div(class="row justify-content-center h-auto w-100")
            div(class="d-flex justify-content-center mb-2")
                img(src="../static/img/link-icon.png" class="icon")
            div(class="row h-auto w-100 align-items-start text-center icon-text")
                h2 No Limits
                p Opt for Shouft's auto-links or input your choices for a personalized link.

    div(class="container d-flex justify-content-center mb-5 text-white")
        div(class="row justify-content-center h-auto w-100")
            div(class="d-flex justify-content-center mb-2")
                img(src="../static/img/security-icon.png" class="icon")
            div(class="row h-auto w-100 align-items-start text-center icon-text")
                h2 Security
                p Press "SHORT" to encrypt your URL, rendering it inaccessible to anyone but you.

    div(class="container d-flex justify-content-center mb-5 text-white")
        div(class="row justify-content-center h-auto w-100")
            div(class="d-flex justify-content-center mb-2")
                img(src="../static/img/speed-icon.png" class="icon")
            div(class="row h-auto w-100 align-items-start text-center icon-text")
                h2 Efficiency
                p Elevate productivity with highly optimized web services for time-saving solutions.