// input field
div(
  style="margin-top: 15vh;" 
  class="container d-flex justify-content-center"
  )
  form(
    id="io-form" 
    class="d-flex justify-content-left"
  )
    input(
      id="io-field" type="text" 
      class="form-control rounded-0 text-white text-center")